{% extends "layout.html" %}

{% block content %}
<div class="row">

       <div class="col-sm-3 col-6">
        <h1>Localizações</h1>

        <table>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Dimensão</th>
            </tr>
            {% for location in locations %}
            <tr>
                <td><a href="/locations/{{location.name}}">{{location.name}}</a></td>
                <td>{{location.type}}</td>
                <td>{{location.dimension}}</td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}
