{% extends "layout.html" %}

{% block content %}
<div class="row">

    <div class="col-sm-3 col-6">
        <img src="{{profile.image}}" alt="{{profile.name}}" class="img-fluid img-thumbnail" />
    </div>
    
    <div class="col-sm-3 col-6">
        <h1 class="h5">{{profile.name}}</h1>
        <p>Espécie: {{profile.species}}</p>
        <p>Gênero: {{profile.gender}}</p>
        <p>Origem: <a href="/location/{{profile.location.id}}">{{profile.origin.name}}</a></p>
        <p>Localização: <a href="/location/{{profile.location.id}}">{{profile.location.name}}</a></p>
        
        <h2 class="h5">Episódios:</h2>
        <table class="row">
            {% for episode in profile.episodes %}
            <tr>
                <td><a href="/episode/{{episode.id}}">{{episode.episode}} - {{episode.name}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}

